.interest {
  flex-basis: 16%;
  border: 1px dotted crimson;
  padding: 1em;
  margin: 0.5em;
  /* text-align: center; */
}

.bio__interests {
  display: flex;  /* Display the child items in a Flex layout */
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}